<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
    <title>MALA</title>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><div class="foto-mala-carousel"><img src="img/imagen-carousel.webp" alt=""></div><a href=""></a></div>
        <div class="swiper-slide"><div class="foto-mala-carousel1"><img src="img/imagen-carousel1.webp" alt=""></div><a id="solicita-tu-turno" href="">¡Solicitá tu turno!</a></div>
        <div class="swiper-slide"><div class="foto-mala-carousel2"><img src="img/imagen-carousel2.webp" alt=""><div class="img-flaot1"><img src="/img/imagen-carousel.webp" alt=""></div></div></div>
        <div class="swiper-slide"><div class="foto-mala-carousel3"><img src="img/imagen-carousel3.webp" alt=""><div class="img-float2"><img src="/img/imagen-carousel.webp" alt=""></div></div></div>
      </div>
       <div class="swiper-button-next"></div>
       <div class="swiper-button-prev"></div>
       <div class="swiper-pagination"></div>
    </div>

     <!-- Primer div "QUIENES SOMOMS" de texto con imagen -->
    <div id="primer-texto-imagen">
      <div id="primer-texto">
        <h4>QUIENES SOMOS</h4>
        <p>Mala nació en el año 2008 con el propósito de ayudar a mejorar la autopercepción de las personas a partir de la salud y la estética capilar.</p>
        <p>Nuestra misión es obtener la imagen deseada por nuestros clientes, fortaleciendo su autoestima y logrando autoafirmación. Nos caracterizamos por hacer la diferencia.La empatía de nuestros profesionales selectos permite alcanzar la mejor expresión de nuestros usuarios.</p>
        <p>Abogamos por una percepción disruptiva de la realidad estética, donde múltiples percepciones de belleza conviven entre sí. Velamos por la inclusión, vetamos los estereotipos, repudiamos la discriminación y los juicios. Somos la peluquería más auténtica y distintiva del rubro, somos referentes para nuestros competidores, y deseamos mantenerlo; para eso fomentamos el compromiso, el compañerismo y el respeto por parte de nuestros colaboradores</p>
        <div id="primerte-texto-a">
          <a href="">NUESTRA HISTORIA</a>
        </div>
      </div>
      <div id="primera-imagen">
        <img src="img/foto1.webp" alt="">
      </div>
    </div>


    <!-- Segundo div "FUNDADOR" de texto con imagen -->
    <div id="segundo-texto-imagen">
      <div id="segundo-p">
        <h4>F U N D A D O R</h4>
        <p>
          Juan Manuel Cativa nació en el Partido de San Martin, Provincia de Buenos Aires. Aprendió su profesión desde temprana edad de manera autónoma. Es líder, mentor y creador de estilo y vanguardia, y ello lo transmite a su organización y a todas las personas que trabajan con él. Juanma experimenta su trabajo con vehemencia y entusiasmo.
          Actualmente se desarrolla como Director de Mala Peluquería y se desempeña como estilista de referentes de la moda y usuarios particulares.
        </p>
      </div>
      <div id="segundo-imagen">
          <img src="/img/foto2.webp" alt="">
      </div>
    </div>
    


    <!-- Tercer div "SERVICIOS" de texto con imagen -->
   
    <div id="tercer-texto-imagen">
      <div id="divs-terceros">
        <div id="div-tecero">
          <h4>SERVICIOS</h4>
        </div>
        <div id="div-tecero">
          <a href="">CORTE</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tecero">
          <a href="">COLORACIÓN</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tecero">
          <a href="">LAVADO</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tecero">
          <a href="">PEINADOS</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tecero">
          <a href="">TRATAMIENTOS PARA TU CABELLO</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tecero">
          <a href="">BARBERÍA</a>
          <button><i class="fa-regular fa-plus"></i></button>
        </div>
        <div id="div-tercero">
          <a href="">Lista de Precios</a>
          <a href="">Lista de Estética</a>
        </div>
      </div>
      <div id="tercer-div-imagen">
        <img src="img/foto3.webp" alt="">
      </div>
    </div>



     <!-- Cuarto div "MARCAS" de texto con imagen -->

      <div  id="title-marcas">
        <p>ENCONTRÁ TUS MARCAS FAVORITAS EN <b>MALA STORE</b></p>
      </div>
      <article id="article-products">
        <div id="cuarto-div-products">
          <div id="div-products">
              <div id="marca-img">
                <button>NEW</button>
                <img src="img/perfumemala.webp" alt="">
              </div>      
          </div>
          <div id="description-price">
            <p>EAU de Toilette 50 ml Authentic Beauty Concept</p>
            <p>$ 16.000.00</p>
          </div>
          <a href="">AGREGAR AL CARRITO</a>
        </div>
        <div id="cuarto-div-products">
          <div id="div-products">
              <div id="marca-img">
                <button>NEW</button>
                <img src="/img/lacamala.webp" alt="">
              </div>      
          </div>
          <div id="description-price">
            <p>EAU de Toilette 50 ml Authentic Beauty Concept</p>
            <p>$ 16.000.00</p>
          </div>
          <a href="">AGREGAR AL CARRITO</a>
        </div>
        <div id="cuarto-div-products">
          <div id="div-products">
              <div id="marca-img">
                <button>NEW</button>
                <img src="/img/carteramala.webp" alt="">
              </div>      
          </div>
          <div id="description-price">
            <p>EAU de Toilette 50 ml Authentic Beauty Concept</p>
            <p>$ 16.000.00</p>
          </div>
          <a href="">AGREGAR AL CARRITO</a>
        </div>
      </article>
    <div id="cuarto-div-marcas1">
      <p id="cuarto-p1">SUSCRIBITE A NUESTRO <b>NEWSLETTER</b></p>
      <p id="cuarto-p2">Recibí todas las novedades de <b>MALA</b></p>
      <input type="text" placeholder="Ingresá tu mail" name="" id="">
      <a href="">SUSCRIBIRSE AHORA</a>
    </div>


     <!-- Article "SUCURSALES" de texto con imagen -->

<section id="section">
   <div id="section-h2">
      <h2>NUESTRAS SUCURSALES</h2>
    </div>
  <article id="articles-divs">
      <div id="article-div">
        <div id="div-img-direccion">
          <img src="img/palermo.webp" alt="">
        </div>
        <h3>MALA PALERMO</h3>
        <p>Gorriti 4714, Palermo, CABA.</p>
        <p>Lunes a Domingo de 9 a 21hs</p>
        <p>Teléfono: 011 4831-3952 </p>
        <p>Turnos: +54 9 11 5131 9333</p>
        <p>miexperiencia@malapeluqueria.com</p>
      </div>
      <div id="article-div">
        <div id="div-img-direccion">
          <img src="img/martinez.webp" alt="">
        </div>
        <h3>MALA MARTINEZ</h3>
        <p>Av. del Libertador 13837, Martinez.</p>
         <p>Estacionamiento Sin cargo</p> 
         <p>lunes a Sábado de 9 a 21hs</p> 
         <p>Teléfono: 011 2505 6214</p>      
         <p>Turnos: +54 9 11 5131 9333</p>
         <p>miexperiencia@malapeluqueria.com</p>
      </div>
      <div id="article-div">
        <div id="div-img-direccion">
          <img src="img/academia.webp" alt="">
        </div>
        <h3>MALA ACADEMIA</h3>
        <p>Gorriti 4646, Palermo, CABA.</p>
        <p>Lunes a Viernes de 10 a 16h</p>
        <p>Teléfono: 011-4831-3952</p>
        <p>academia@malapeluqueria.com</p>
      </div>
      <div id="article-div">
        <div id="div-img-direccion">
          <img src="img/mendoza.webp" alt="">
        </div>
        <h3>MALA MENDOZA</h3>
        <p>Tiburcio Benegas 1163,  Mendoza.</p>
        <p>Martes a Sábado de 10 a 20hs</p>
        <p>Whatsapp: +54 9 261 639 6845</p>
        <p>Ciudad de Mendoza</p>
      </div>
  </article>
  <div id="mas-info">
    <a href="">Más info+</a>
  </div>
</section>      


    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      });
    </script>
  </body>
</html>