#body_form {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#body_form form {
    width: 94%;
    display: flex;  
    margin-top: 25px;
    display: flex;
    text-align: center;
    background-color: #000;
}
#fieldset {
    display: flex;
    padding: 40px 0px;
    width: 100%;
    background-color: #000;
    border: 2px solid #9a9797;
    flex-direction: column;
}
#fieldset legend {
    text-align: left;
    margin-left: 60px;
    padding: 5px 15px;
    font-size: 25px;
    color: #fff;
    border-radius: 5px;
}
#div-label-input {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#label-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#div-label-input label {
    color: #fff;
    font-size: 20px;
}
#div-label {
    width: 30%;
}
#div-label-input input {
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    width: 90%;
}
#div-label-input input:focus{
    outline-color: #c2dbfe;
}    
#div-label-input input:last-child {
    box-shadow: none;
}
#div-label-input select {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    width: 65%;
    background-color: #fff;
}
#div-label-input select:focus{
    outline-color: #c2dbfe;
}    
#small {
    position: relative;
    left: 69px;
    margin-top: 2px;
    width: 70%;  
}
#small small {
    display: flex;
    justify-content: center;
    width: 90%;
    display: block;
    font-size: 17px;
    color: red;
    background-color: #f6cfcf;
    border-bottom-left-radius:  6px;
    border-bottom-right-radius: 6px;
}
#button {
    background-color: #919090;
    padding: 10px 35px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 18px;
}
#button:hover {
    background-color: #e2dede;
}
