<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body id="body_form">
    <form action="">
        <fieldset id="fieldset">
            <legend>Creacion De Perfil</legend>

                    <!-- N O M B R E -->
                <div id="div-label-input">
                    <label for="">Nombre :</label>
                    <input type="text" placeholder="Ingrese su nombre">
                </div>
    
                    <!-- E M A  I L -->
                <div id="div-label-input">
                    <label for="">Email :</label>
                    <input type="text" placeholder="Ingrese su email">
                </div>
    
                    <!-- E D A D -->
                <div id="div-label-input">
                    <label for="">Edad :</label>
                    <input type="text" placeholder="Ingrese su edad">
                </div>

                    <!-- S E L E C T -->
                    <div id="div-label-input">
                        <select name="" id="">
                            <option value="" hidden>Seleccione un color</option>
                            <option value="">Rojo</option>
                            <option value="">Amarillo</option>
                            <option value="">Verde</option>
                            <option value="">Azul</option>
                        </select>
                    </div>

                    <!-- B U T T O N -->
                <div>
                    <button id="button">Ingresar</button>
                </div>
        </fieldset>
    </form>
        
  
</body>
</html>